body {
    background-image: url(background.png);
    background-size: cover;
    font-family: Verdana, sans-serif;
    background-repeat: no-repeat;
}

.button {
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #2155ff;
    border-radius: 12px;

    font-family: 'Kanit', sans-serif !important;
}
  
.button:hover {
    background-color: #2155ff;
    color: white;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#number-display-container {
    margin-top: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#number-display-container h1 {
    background-color: rgba(54, 214, 229, 0.54);
    font-size: 128px;
    padding-top: 26px;
    margin: 10px;
    color: rgb(49, 48, 48);
    border: solid #ffa931 16px;
    box-sizing: border-box;
    display: inline-block;
    width: 250px;
    height: 250px;
    text-align: center;
}